*{
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
i,em,b {
  font-style: normal;
}
.bodyBox {
  background: url('../image/Yue.jpg') no-repeat fixed 100%/100%;
}
header {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  background: linear-gradient(to right, #007799, #FF8888);
  color: transparent;
  -webkit-background-clip: text;
}
ul {
  margin-top: 20px;
  padding-bottom: 100px;
}

ul li {
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  background: linear-gradient(to right, #800000, #20B2AA);
  color: transparent;
  -webkit-background-clip: text;
}