.main {
    height: 100%;
    background-color: #F7F8FB;
    padding: 0 .33rem;
    overflow: hidden;
    position: relative;
}

.main .image {
    padding-top: .9rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.main .image img{
    width: 2.3rem;
}

.main .image .text {
    font-size: .48rem;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 500;
    color: #353F5A;
}

.main .image span {
    margin-top: .1rem;
    font-size: .22rem;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    color: #353F5A;
}

.main .info {
    margin-top: .4rem;
    background-color: #ffffff;
    padding: .2rem .2rem 0 .2rem;
}

.main .info .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .18rem;
    padding-bottom: .2rem;
}

.main .info .list .label {
    color: #858C9E;
}

.main .info .list .content {
    color: #353F5A;
}

.main .button {
    position: absolute;
    bottom: .5rem;
    left: .3rem;
    width: 90%;
    height: .55rem;
    border: 1px solid #353f5a;
    border-radius: .275rem;
    line-height: .55rem;
    text-align: center;
    font-size: .2rem;
    color: #353F5A;
}